body {
	margin: 0;
	font-family: 'Nunito Sans', 'sans-serif', 'arial';
}

body * {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
}

.button {
	border-radius: 2px;
	outline: 0;
	border: 0;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}

.call {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 33px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.logo {
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: #E3B873;
	margin-right: 95px;
}

.header {
	background-color: black;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-content {
	display: flex;
	justify-content: space-between;
	height: 83px;
	align-items: center;
}

.header-navigation {
	list-style: none;
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
}

.header-navigation__item {
	margin-right: 47.09px;
}

.header-navigation__item a {
	text-decoration: none;
	color: white;
}

.header-navigation__item:hover {
	color: #E3B873;
}

a:hover {
	color: #E3B873;
}

.phone, .phone:visited {
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: right;
	text-decoration-line: underline;
	color: #E3B873;
	padding-right: 45px;
	text-decoration-color: none;
	margin-left: 67px;
}

.hero {
	background-image: url('../images/hero.jpg');
	height: 707px;
	background-size: auto;
	padding-top: 194px;
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
}

.hero_overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.hero_container {
	position: relative;
	z-index: 1;
}

.title {
	margin: 0;
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 134px;
}

.rostov {
	color: #E3B873;
}

.p_text {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-left: 134px;
}

.cost {
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	background: #E3B873;
	width: 207px;
	height: 51px;
	padding: 19px 42px 20.65px 41px;
	margin-right: 20px;
	margin-left: 134px;
}

.submit_your {
	width: 207px;
	height: 51px;
	padding: 19.09px 23px 20.57px 22px;
	background-color: rgba(28,28,28,0);
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}

.section_completed {
	background-color: black;
	height: 1074px;
	margin: 0 auto;
	max-width: 1440px;
}

.completed_navigation {
	display: flex;
	list-style-type: none;
	color: white;
	margin: 0;
	padding-top: 107px;
	padding-left: 626.45px;
	padding-bottom: 52.68px;
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #E3B873;
}

.rsr_navigation__item {
	margin-right: 60.5px;
	text-decoration: none;
}

.rsr_navigation__item__1 {
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

.rsr_navigation__item__1:hover {
	color: #E3B873;
	border-bottom: 2px solid #E3B873;
	padding-bottom: 6.68px;
}

.title_completed {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	margin: 0;
	margin-left: 134.45px;
}

.second_container {
	max-width: 1440px;
	height: 1074px;
}

.text_with_img {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.chairs {
	margin-top: -421px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 626px;
}

.common_text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	display: block;
	width: 500px;
	padding: 34px 0px 42px 0px;
	margin: 0;
	margin-left: 134.45px;
}

h3 {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #E3B873;
	margin-left: 134.45px;
}

.grid_wrapper {
	display: grid;
	grid-template-columns: 200px 150px;
	grid-template-rows: 100px 100px;
}

.description {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	display: block;
	width: 200px;
	height: 34px;
}

.slider {
	display: flex;
	justify-content: start;
	align-content: space-around;
	float: left;
	align-items: center;
	margin-left: 134.45px;
}

.arrow_1 {
	margin-right: 0px;
}

.arrow_2 {
	margin-left: 19.5px;
}

.dot_button {
	margin-right: 17.54px;
	margin-left: 17.54px;
	background: #FFFFFF;
	border-radius: 50px;
	border: 0px;
	padding: 5px 5px;
	cursor: pointer;
}

.dot_button:hover {
	background: rgba(255, 255, 255, 0.3);
}

.arrow_button {
	border: 0px;
	background-color: black;
	float: left;
	margin-right: 29.5px;
	margin-left: 14.75px;
	padding: 0px;
	cursor: pointer;
}

.third_container {
	width: 817px;
    height: 927.16px;
    margin-top: -300px;
}

.third_container_title {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 auto;
	padding-bottom: 12px;
}

.camera_img {
	display: flex;
	justify-content: center;
}

.line_1 {
	margin-right: 9.5px;
	margin-left: 9.5px;
}

.wallpaper_overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.wallpaper {
	position: relative;
	margin-top: 31.21px;
	width: 817px;
	height: 434px;
	z-index: 1;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.play_button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #E3B873;
	border: none;
	cursor: pointer;
	border-radius: 100px;
	box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
	z-index: 1;
	cursor: pointer;
}

.line {
	color: #E3B873;
	height: 1.5px;
	width: 55px;
	margin: auto;
	margin-top: 62.5px;
}

.camera_description {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}

.text_field {
 	margin-bottom: 37px;
}

.text_field__label {
  	display: block;
  	margin-bottom: 7px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}

.text_field__input {
  	display: block;
  	width: 231px;
  	height: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: black;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	padding: 0px;
	margin-right: 58px;
}

.input {
	display: flex;
}

.submit {
	background: #E3B873;
	box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	width: 200px;
	height: 51px;
}

.first_checkbox {
	display: flex;
	justify-content: center;
}

.label {
  	cursor: pointer;
}

.checkbox{
  	display: none;

}
.fake{
	display: inline-flex;
	width: 18px;
	height: 18px;
	background: #E3B873;
	color: #fff;
	justify-content: center;
}
.fake::before{ /*Выровнял чекбокс и текст*/
  	content:"\2714";
  	opacity: 0;
  	transition: .2s;
  	display: flex;
  	align-items: center;

}
.checkbox:checked + .fake::before{ /*Выровнял чекбокс и текст*/
  	opacity: 1;
  	display: flex;
  	align-items: center;
}

.text_check {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #181818;
}

.fourth_container {
	height: 630px;
}

.fourth_container_title {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	margin: 0 auto;
	padding-bottom: 12px;
}

.ussr {
	display: flex;
	justify-content: center;
}

.repair_wrapper {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-content: center;
}

.first_repair {
	margin: 31px 30px 0px 0px;
	flex-shrink: 0;
	width: 392px;
	height: 617px;
	background: lightblue;
	background: url(../images/redecorating.jpg) no-repeat;
	padding-top: 294px;

}

.second_repair {
	margin: 31px 0px 0px 0px;
	flex-shrink: 0;
	width: 392px;
	height: 617px;
	background: lightblue;
	background: url(../images/overhaul.jpg) no-repeat;
	padding-top: 294px;
}

.third_repair {
	margin: 31px 0px 0px 30px;
	flex-shrink: 0;
	width: 392px;
	height: 421px;
	background: lightblue;
	background: url(../images/designer.jpg) no-repeat;
	padding-top: 294px;
}

.text_block {
	margin-right: 31px;
	margin-left: 31px;
	width: 330px;
	height: 286px;
	background: #FFFFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	padding: 0px;
}

.list_title {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #363636;
	padding-left: 34px;
	padding-top: 25px;
	padding-bottom: 0px;
	margin: 0;
}

.repair_list {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 27px;
	color: #959595;
}

.price_button {
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 228px;
	height: 54px;
	border: none;
	margin-top: -10px;
	cursor: pointer;
}

.request_section {
	max-width: 1440px;
	margin: 0 auto;
}

.request_wrapper {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 112px;
}

.request_wrap_1 {
	background-image: url(../images/background_building.jpg);
	width: 703px;
	height: 598px;
	margin-right: 123px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.request_button_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	border: 8px solid white;
	border-radius: 100px;
	background: #E3B873;
	cursor: pointer;
	width: 65.76px;
	height: 65.76px;
	margin-left: 274.76px;
}

.text_button {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #363636;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.request_wrap_2 {
	background-color: black;
	width: 506px;
	height: 503px;
	margin-top: 59px;
}

.request_wrap_2_text {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 28px;
}

.input_2 {
	display: flex;
	flex-direction: column;
	margin-left: 49px;
}

.text_field_2 {
 	margin-bottom: 37px;
}

.text_field__label_2 {
  	display: block;
  	margin-bottom: 7px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.text_field__input_2 {
  	display: block;
  	width: 408px;
  	height: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px;
	margin-right: 58px;
	background-color: black;
}

.second_checkbox {
	display: flex;
	justify-content: center;
	margin-right: 131.38px;
}

.label_2 {
  	cursor: pointer;
}

.checkbox_2 {
  	display: none;

}
.fake_2 {
	display: inline-flex;
	width: 18px;
	height: 18px;
	background: #E3B873;
	color: #fff;
	justify-content: center;
}
.fake_2::before { /*Выровнял чекбокс и текст*/
  	content:"\2714";
  	opacity: 0;
  	transition: .2s;
  	display: flex;
  	align-items: center;

}
.checkbox_2:checked + .fake::before{ /*Выровнял чекбокс и текст*/
  	opacity: 1;
  	display: flex;
  	align-items: center;
}

.text_check_2 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
}

.button_call {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 33px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 213px;
	height: 51px;
	margin-left: 244px;
	margin-top: 39px;
	margin-bottom: 27px;
	cursor: pointer;
}

.button_pig {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background: #E3B873;
	box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
	padding: 0px;
	border: 8px solid #E3B873;;
	border-radius: 100px;
	cursor: pointer;
	width: 72px;
	height: 72px;

}

.button_pig_text {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 24.44px 124.5px 234.09px 30px;
}

.button_pig_text_1 {
	margin-left: 25px;
}

.fifth_section {
	height: 864px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/wild_background.jpg);
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 318.5px;
	display: flex;
}

.list_and_photos_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.list_wrap {
	height: 629px;
	width: 510px;
	
}

.title_for_list {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #E3B873;
	padding: 137.47px 77px 0px 99px;
	margin: 0;
}

.main_list {
	list-style-type: none;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	padding-top: 34.5px;
	padding-left: 99px;
	margin-top: 0;
	margin-right: 0px;
}

.style_list_item {
	text-decoration: none;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	margin-right: 0px;
}

.style_list_item_1 {
	color: #FFFFFF;
	text-decoration: none;
}

.style_list_item_1:hover {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
	padding-bottom: 1.17px;
}

.first_photo_wrapper_1 {
	width: 354px;
	height: 557.88px;
	background-image: url(../images/clock.jpg);
	display: flex;
	flex-direction: column;
	margin-left: 77px;
	margin-right: 43px;
	margin-top: -41px;
	margin-bottom: 39.1px;
}

.first_photo_wrapper_2 {
	width: 354px;
	height: 275px;
	background-image: url(../images/sofa.jpg);
	display: flex;
	flex-direction: column;
	margin-top: -113px;
}

.first_photo_wrapper_3 {
	width: 354px;
	height: 349.37px;
	background-image: url(../images/tv.jpg);
	display: flex;
	flex-direction: column;
	margin-left: 587px;
	margin-right: 43px;
	margin-top: -70px;
}

.first_photo_wrapper_4 {
	width: 354px;
	height: 624.88px;
	background-image: url(../images/flower.jpg);
	display: flex;
	flex-direction: column;
	margin-top: -430px;
}

.six_section {
	background-image: url(../images/background_buildings_reverse.jpg), url(../images/background_buildings.jpg);
	background-position: left bottom, right bottom;
	height: 1000px;
	max-width: 1440px;
	margin: 0 auto;
	background-repeat: no-repeat, no-repeat;
}

.six_container_title {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	padding-top: 100px;
	margin: 0 auto;
	padding-bottom: 12px;
}

.handshake {
	display: flex;
	justify-content: center;
}

.six_container_title_1 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
	margin-top: 24.5px;
}

.six_wrapper {
	display: flex;
	justify-content: center;
}

.six_wrapper_item_1 {
	width: 376px;
	height: 428px;
	margin-right: 54px;
	margin-left: 54px;
	margin-top: 39px;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client_name {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #181818;
	display: flex;
	align-items: center;
	height: 99px;
}

.client_photo {
	border-radius: 50px;
	margin: 13.5px 25px 25px 20px;
}

.client_text {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 180%;
	color: #959595;
	margin-right: 31.92px;
	margin-left: 20px;
	margin-top: 11.5px;
}

.six_wrapper_button {
	border: none;
	background: #E3B873;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	width: 300px;
	height: 55px;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	margin-top: 51px;
}

.six_wrapper_button_text {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}

.seven_section {
	max-width: 1440px;
	margin: 0 auto;
	background-image:  linear-gradient(rgba(0,0,0,0.99),rgba(0,0,0,0.8)), url(../images/background_city.jpg);
	background-repeat: no-repeat;
	height: 955px;
}

.seven_section_wrapper_1 {
	background-color: black;
	width: 883px;
	height: 445.32px;
	margin: 0 auto;
	position: absolute;
	margin-top: -213px;
	margin-left: 250px;

}

.seven_section_wrapper_1_text {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 34px;
}

.input_3 {
	display: flex;
	flex-wrap: wrap;
	margin-left: 181px;
	margin-top: 45.85px;
}

.text_field_3 {
 	margin-bottom: 48.76px;
}

.text_field__label_3 {
  	display: block;
  	margin-bottom: 7px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.text_field__label_4 {
	display: block;
  	margin-bottom: 7px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}

.text_field__input_3 {
  	display: block;
  	width: 231px;
  	height: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px;
	margin-right: 58px;
	background-color: black;
}

.text_field__input_4 {
	display: block;
  	width: 517px;
  	height: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px;
	margin-right: 58px;
	background-color: black;
}

.third_checkbox {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

.label_3 {
  	cursor: pointer;
}

.checkbox_3 {
  	display: none;

}
.fake_3 {
	display: inline-flex;
	width: 18px;
	height: 18px;
	background: #E3B873;
	color: #fff;
	justify-content: center;
}
.fake_3::before { /*Выровнял чекбокс и текст*/
  	content:"\2714";
  	opacity: 0;
  	transition: .2s;
  	display: flex;
  	align-items: center;

}
.checkbox_3:checked + .fake::before{ /*Выровнял чекбокс и текст*/
  	opacity: 1;
  	display: flex;
  	align-items: center;
}

.text_check_3 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
}

.seven_wrapper_button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 54px;
	color: #FFFFFF;
	width: 200px;
	height: 51px;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.seven_section_text_1 {
	font-family: 'Yeseva One', 'sans-serif', 'arial';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
	margin-top: 0px;
	padding-top: 274.67px;
}

.seven_section_button_block {
	display: flex;
	justify-content: center;
}

.seven_section_button {
	border: none;
	background: #E3B873;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 15px;
	margin-top: 6px;
}

.seven_section_address_image {
	margin: 0 auto;
	display: flex;
	margin-top: 50px;
}

.footer {
	background-color: black;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer_content {
	display: flex;
	justify-content: space-between;
	height: 133px;
	align-items: center;
}

.footer_navigation {
	list-style: none;
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
}

.footer_navigation__item {
	margin-right: 47.09px;
}

.footer_navigation__item a {
	text-decoration: none;
	color: white;
}

.footer_navigation__item:hover {
	color: #E3B873;
}